<% provide(:title, '登陆 | Tinybo') %>


<div class="row">
  <div class="span5 offset3">
    <h2>登陆</h2>
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div>
        <%= f.input :email, label: 'E-mail:'  , required: true %>
        <%= f.input :password, label: '密码：', required: true %>
        <% if devise_mapping.rememberable? -%>
          <%= f.input :remember_me, as: :check_boxes, label: '记住我', collection: ['yes']%>
        <% end -%>
        <div>
          <%= f.submit '登陆', class: "btn" %>
        </div>
    <% end %>
  </div>
</div>

