<% provide(:title, "| Tinybo") %>

<div class="row">
  <div class="span3">
    <h1><%= @user.name %></h1>
    <p><%= @user.email %></p>
    <%= render 'shared/stats' %>
    <%= render 'shared/microposts_form' %>
  </div>

  <div class="span8 offset1">
      <% if @microposts.any? %>
      <h3>已发布的微博</h3>
      <p class="muted">共记 <%= @microposts.count %> 条</p>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>